<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Componentes Nativos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" class="animated bounceInUp" (click)="openPage('componente-nativo-camera')">Camera</ion-button>
  <ion-button expand="full"  (click)="openPage('componente-texttospeech')">TextToSpeech</ion-button>
  <ion-button expand="full"  (click)="openPage('componente-midia')">Media</ion-button>
  <ion-button expand="full"  (click)="openPage('componente-media-capture')">Media Capture</ion-button>
  <ion-button expand="full"  (click)="openPage('comp-media-capture-ionic-academy')">M.Capture Ionic Academy</ion-button>

</ion-content>
