<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Botão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" href="http://ilovecode.com.br">Link I Love Code</ion-button>
  <ion-button expand="full" href="/layout-nossa-gelada" goBack>Back</ion-button>
  <ion-button expand="block">Block</ion-button>
  <ion-button round>Round</ion-button>
  <ion-button expand="full" fill="outiline">Outiline</ion-button>
  <ion-button expand="block" fill="outiline">Block outline</ion-button>
  <ion-button expand="block" color="danger">
    <ion-icon name="star" slot="start"></ion-icon>
    Icone
  </ion-button>
  <ion-button expand="block" color="danger">
    <ion-icon name="star" slot="end"></ion-icon>
    Icone
  </ion-button>
  <ion-button expand="full" color="danger">
    <ion-icon name="star" slot="icon-only"></ion-icon>
  </ion-button>

  <ion-button expand="block" color="danger" size="small">Tamanho</ion-button>
  <ion-button expand="block" color="danger">Default</ion-button>
  <ion-button expand="block" color="danger" size="large">Tamanho</ion-button>




</ion-content>