<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button expand="full" (click)="openPage('layout-input')">Layout - Input</ion-button>
    <ion-button expand="full" (click)="openPage('layout-list')">Layout - List</ion-button>
    <ion-button expand="full" (click)="openPage('componente-action-sheet')">
      Action Sheet</ion-button>
    <ion-button expand="full" (click)="openPage('componente-alert')">Componente Alert</ion-button>
    <ion-button expand="full" (click)="openPage('componente-badges')">Componente Badges</ion-button>
    <ion-button expand="full" (click)="openPage('componente-botao')">Botão</ion-button>
    <ion-button expand="full" (click)="openPage('componente-card')">Card</ion-button>
    <ion-button expand="full" (click)="openPage('componente-checkbox')">Checkbox</ion-button>
    <ion-button expand="full" (click)="openPage('componente-radio')">Radio</ion-button>
    <ion-button expand="full" (click)="openPage('componente-datetime')">Date Time</ion-button>
    <ion-button expand="full" (click)="openPage('componente-loading')">Loading</ion-button>
    <ion-button expand="full" (click)="openPage('componente-modal')">Modal</ion-button>
    <ion-button expand="full" (click)="openPage('componente-range')">Range</ion-button>
    <ion-button expand="full" (click)="openPage('componente-spinner')">Spinner</ion-button>
    <ion-button expand="full" (click)="openPage('componente-toast')">Toast</ion-button>
    <ion-button expand="full" (click)="openPage('componente-infinit-scroll')">Infit Scroll</ion-button>
    <ion-button expand="full" (click)="openPage('componente-popover')">Popover</ion-button>
    <ion-button expand="full" (click)="openPage('componente-refresher')">Refresher</ion-button>
    <ion-button expand="full" (click)="openPage('componente-searchbar')">SearchBar</ion-button>
    <ion-button expand="full" (click)="openPage('componente-searchbar-youtube')">SearchBar Youtube</ion-button>
    <ion-button expand="full" (click)="openPage('componente-toggle')">Toggle</ion-button>
    <ion-button expand="full" (click)="openPage('componente-fab')">Fab</ion-button>
    <ion-button expand="full" (click)="openPage('componente-select')">Select</ion-button>
</ion-content>
