<!--
  <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Layout - Input</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <ion-input></ion-input>

  <!--input com valor-->
  <ion-input color="danger" value="nome"></ion-input>

  <!--Input com placeholder-->
  <ion-input placeholder="nome"></ion-input>

  <!-- Input with clear button when there is a value -->
  <ion-input clearInput value="clear me"></ion-input>

  <!-- Input numerico -->
  <ion-item>
    <ion-label position="floating">Apenas Numero</ion-label>
    <ion-input type="number" ></ion-input>
  </ion-item>

  <!-- Input numerico -->
  <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" ></ion-input>
  </ion-item>

  <!--Inputs com Label-->
  <ion-item>
    <ion-label>Nome</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <!--Inputs com Label fixa-->
  <ion-item>
    <ion-label position="fixed">Nome</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <!--Inputs com Label flutuante-->
  <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input></ion-input>
  </ion-item>

  <ion-item>
      <ion-label color="danger" position="stacked">Nome</ion-label>
      <ion-input ></ion-input>
  </ion-item>

  <ion-item>
      <ion-label color="primary" position="stacked">Nome</ion-label>
      <ion-input ></ion-input>
  </ion-item>

  <ion-item>
      <ion-label color="warning" position="stacked">Nome</ion-label>
      <ion-input ></ion-input>
  </ion-item>
  
  <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password"></ion-input>
  </ion-item>

</ion-content>
