<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Animacoes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Para uso da animação incluimos o atributo class com as opções da aanimação-->
  <img class="animated swing delay-1s" src="/assets/icon/rodrigo.jpg" >

  <ion-button expand="block" class="animated swing delay-1s">Confirmar</ion-button>

  <img src="/assets/icon/th.png" class="animated shake delay-1s">

  <ion-card>
      <ion-img src="assets/icon/surfe2.jpg" class="animated rubberBand delay-2s"></ion-img>
    </ion-card>
</ion-content>
