<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Voltar</ion-back-button>
    </ion-buttons>
    <ion-title>Layout Css Utilities Two</ion-title>
  </ion-toolbar>
</ion-header>

<!--Ver documentação sobre CSS Utilities em Layouts/CSS Utilities-->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div text-center>
          <h3>Curso de ionic 4</h3>
          Mantenha seus pensamentos positivos, porque seus pensamentos tornam-se suas palavras. Mantenha suas palavras positivas, porque suas palavras tornam-se suas atitudes. Mantenha suas atitudes positivas, porque suas atitudes tornam-se seus hábitos. Mantenha seus hábitos positivos, porque seus hábitos tornam-se seus valores. Mantenha seus valores positivos, porque seus valores... Tornam-se seu destino.
          <br/>Mahatma Gandhi 
        </div>
      </ion-col>
      <ion-col>
          <div text-end>
            <h3>Curso de ionic 4</h3>
            Mantenha seus pensamentos positivos, porque seus pensamentos tornam-se suas palavras. Mantenha suas palavras positivas, porque suas palavras tornam-se suas atitudes. Mantenha suas atitudes positivas, porque suas atitudes tornam-se seus hábitos. Mantenha seus hábitos positivos, porque seus hábitos tornam-se seus valores. Mantenha seus valores positivos, porque seus valores... Tornam-se seu destino.
            <br/>Mahatma Gandhi 
          </div>
        </ion-col>
        <ion-col>
            <div text-justify>
              <h3>Curso de ionic 4</h3>
              Mantenha seus pensamentos positivos, porque seus pensamentos tornam-se suas palavras. Mantenha suas palavras positivas, porque suas palavras tornam-se suas atitudes. Mantenha suas atitudes positivas, porque suas atitudes tornam-se seus hábitos. Mantenha seus hábitos positivos, porque seus hábitos tornam-se seus valores. Mantenha seus valores positivos, porque seus valores... Tornam-se seu destino.
              <br/>Mahatma Gandhi 
            </div>
        </ion-col>
        <ion-col align-self-start>
            <div text-justify>
              <h3>Curso de ionic 4</h3>
              Mantenha seus pensamentos positivos, porque seus pensamentos tornam-se suas palavras. Mantenha suas palavras positivas, porque suas palavras tornam-se suas atitudes. Mantenha suas atitudes positivas, porque suas atitudes tornam-se seus hábitos. Mantenha seus hábitos positivos, porque seus hábitos tornam-se seus valores. Mantenha seus valores positivos, porque seus valores... Tornam-se seu destino.
              <br/>Mahatma Gandhi 
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <div text-center>
              <h3>Curso de ionic 4</h3>
              Mantenha seus pensamentos positivos, porque seus pensamentos tornam-se suas palavras. Mantenha suas palavras positivas, porque suas palavras tornam-se suas atitudes. Mantenha suas atitudes positivas, porque suas atitudes tornam-se seus hábitos. Mantenha seus hábitos positivos, porque seus hábitos tornam-se seus valores. Mantenha seus valores positivos, porque seus valores... Tornam-se seu destino.
              <br/>Mahatma Gandhi 
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
        <ion-col>
            <div text-center >
                <h3 text-uppercase>Curso de ionic 4</h3>
                <p text-lowercase>Mantenha seus pensamentos positivos, porque seus pensamentos tornam-se suas palavras. Mantenha suas palavras positivas, porque suas palavras tornam-se suas atitudes. Mantenha suas atitudes positivas, porque suas atitudes tornam-se seus hábitos. Mantenha seus hábitos positivos, porque seus hábitos tornam-se seus valores. Mantenha seus valores positivos, porque seus valores... Tornam-se seu destino.
                  </p>
                <br/>Mahatma Gandhi 
            </div>
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid>
      <ion-row>
          <ion-col>
              <div text-center >
                  <h3 text-uppercase>Curso de ionic 4</h3>
                  <p text-capitalize>Mantenha seus pensamentos positivos, porque seus pensamentos tornam-se suas palavras. Mantenha suas palavras positivas, porque suas palavras tornam-se suas atitudes. Mantenha suas atitudes positivas, porque suas atitudes tornam-se seus hábitos. Mantenha seus hábitos positivos, porque seus hábitos tornam-se seus valores. Mantenha seus valores positivos, porque seus valores... Tornam-se seu destino.
                    </p>
                  <br/>Mahatma Gandhi 
              </div>
          </ion-col>
        </ion-row>
    </ion-grid>

    <div text-sm-center text-md-left text-lg-end>
      <h1>Trabalhando com responsividade</h1>
    </div>

</ion-content>
