<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Toast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="exibirSimples()">Toast</ion-button> 
  <ion-button expand="full" (click)="exibirToast()" color="danger">Toast</ion-button> 
  <ion-button expand="full" (click)="exibirToastButtom()" color="dark">Toast</ion-button> 
  <ion-button expand="full" (click)="exibirToastButtomText()" color="success">Toast</ion-button> 

</ion-content>
