<p>
  <strong>Opções</strong>
</p>
<ion-list>
  <ion-item>
    <ion-icon name="copy"></ion-icon>
    <ion-label (click)="testarClick($event)">Copiar</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="color-fill"></ion-icon>
    <ion-label>Colar</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="cut"></ion-icon>
    <ion-label>Recortar</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="close"></ion-icon>
    <ion-label>Fechar</ion-label>
  </ion-item>
  <ion-item>
    <ion-button>
      <ion-icon name="star" size="small"></ion-icon>
      Botão
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button expand="full" fill="outline">
      <ion-icon name="star" size="small"></ion-icon>
      Botão
    </ion-button>
  </ion-item>
</ion-list>