<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Componente badges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-badge color="dark">25</ion-badge><br>
  <ion-badge color="warning">30</ion-badge><br>
  <ion-badge color="danger">30</ion-badge><br>
  <ion-badge >45</ion-badge><br>

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-icon name="man" slot="start"></ion-icon>
      Seguidores
      <ion-badge color="success" slot="end">5000</ion-badge>
    </ion-item>
  </ion-list>

</ion-content>
