<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Layout - CSS - Utilities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div text-start>
          <h3>Curso de ionic 4</h3>
          Neste curso iremos aprender a criar aplicativos móveis com ionic. Possibilitando-o ganhar uma renda 
          extra. 
        </div>
      </ion-col>
      <ion-col>
          <div text-center>
            <h3>Curso de ionic 4</h3>
            Neste curso iremos aprender a criar aplicativos móveis com ionic. Possibilitando-o ganhar uma renda 
            extra. 
          </div>
        </ion-col>
        <ion-col>
            <div text-justify>
              <h3>Curso de ionic 4</h3>
              Neste curso iremos aprender a criar aplicativos móveis com ionic. Possibilitando-o ganhar uma renda 
              extra. 
            </div>
        </ion-col>
        <ion-col>
            <div text-nowrap>
              <h3>Curso de ionic 4</h3>
              Neste curso iremos aprender a criar aplicativos móveis,<br>
              com ionic. Possibilitando-o ganhar uma renda extra. 
            </div>
        </ion-col>
        <ion-row>

        </ion-row>
        <ion-col>
            <div text-center text-uppercase>
              <h3>Curso de ionic 4</h3>
              Neste curso iremos aprender a criar aplicativos móveis,<br>
              com ionic. Possibilitando-o ganhar uma renda extra. 
            </div>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
