<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="abrirAlertSimples()">Alert Simples</ion-button>
  <ion-button expand="block" (click)="abrirAlertMultButtons()">Alert Mult Buttons</ion-button>
  <ion-button expand="block" (click)="abrirAlertConfirmacao()">Alert Confirmação</ion-button>
  <ion-button expand="block" (click)="abrirAlertImput()">Alert com Input</ion-button>


</ion-content>
